<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareSDKWechat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E212661D1F4D244300FF50CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E21266391F4D244300FF50CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E21266441F4D244300FF50CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
